body {
    background-image: url("h.jpg");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
h1 {
    color: Red;
    font-size: 35px;
}
h2 {
    color: rgb(57, 255, 20);
    font-size: 25px;
}
p {
    color: White;
    font-size: 20px;
}
button {
    display: block;
    margin: 0 auto; 
}
